// Colors
$style-color-1: #d45e76;
$style-color-2: #7b152d;
// Breaking points
$tablet-width-less: 767.5px;
$tablet-width: 768px;
$tablet-width-more: 769px;
$desktop-width: 1200px;
$desktop-width-less: 1199px;
$phone: 640px;
