// Colorful block
.colorful{
    padding: 0;
    width: inherit;
    margin-top: 10px;

    &__row{
        width: 100%;
        padding: 0;
    }

    &__list{
        height: 6px;
        width: 16.66%;
        list-style-type: none;
        float: left;

        &--first{
            background-color: #d25e73;
        }

        &--second{
            background-color: #41bca7;
        }

        &--third{
            background-color: #f9ae49;
        }

        &--fourth{
            background-color: #7d6393;
        }

        &--fifth{
            background-color: #21becf;
        }

        &--sixt{
            background-color: #cb2e5b;
        }
    }
}