// Footer block
.footer{
    font-size: 10pt;
    color: #989898;
    margin-bottom: 30px;
    margin-top: 15px;

    &__left{
        float: left;
        margin-left: 20px;
        letter-spacing: 0.2pt;

        @media screen and (max-width: 545px){
            width: 100%;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 0;
        }
    }

    &__year{
        color: #999999;
        margin-top: 2px;
        letter-spacing: 0.3pt;
        margin-top: -8px;
    }

    &__right{
        float: right;

        
        @media screen and (max-width: 545px){
            width: 100%;
            text-align: center;
        }
    }

    &__creators{
        margin-right: -5px;
    }
}