// General settings
@font-face {
    font-family: Muli;
    src: url(Muli.ttf);
}

*{
    font-family: Muli;
}

body{
    background-image: url("../images/bg-pattern.png");
    background-repeat: repeat;
    font-size: 14pt;
}

.container.mainpage{
    background-color: #fff;
    padding-top: 20px;
}

a:hover{
    text-decoration: none;
}

//Bootstrap collapse config
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
  }