// Header block
@import 'base';

// Social section
.social{

    &__row{
        margin-left: -38px;
        margin-top: -2px; 

        @media screen and (max-width: 380px){
            display: flex;
            justify-content: center;
        }
    }

    &__list{
        padding: 0 11px;
        list-style: none;
        float: left;
    }

    &__icon{
        color: $style-color-1;
        font-size: 12pt;
        transition: 0.5s;
    }

    &__icon:hover{
        transition: 0.5s;
        color: $style-color-2;
    }
}

// Language section
.language-bar {
    margin-top: 2px;

    &__row{
        float: right;

        @media screen and (max-width: 380px) {
            clear: both;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            padding-left: 20px;
        }
    }

    &__list{
        color: #{$style-color-1};
        float: left;
        font-size: 9pt;
        padding: 0 5px;
        margin: 0 10px;    
    }

    &__link{
        color: #{$style-color-1};
        font-size: 10.5pt;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__list--first{
        list-style-type: none;
        padding-right: 8px;
    }

    &__list--selected{
        font-weight: 600;
    }
}
