// Left sidebar block 
.left-sidebar{
    // Mesage section
    &__message{
        font-size: 24pt;
        color: #813a48;
        background-color:  #{$style-color-1};
        text-transform: uppercase;
        margin-top: 80px;
        position: relative;
        left: 130px;
        z-index: 1;

        @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}){
            left: initial;
            text-align: center;
        }

        @media screen and (max-width: #{$tablet-width}){
            display: none;
        }
    }

    // Left sidebar menu
    &__menu{
        margin-top: 70px;
        margin-left: -15px;

        @media screen and (max-width: #{$desktop-width}){
            margin-left: 0;
        }
    }

    &__row{
        font-size: 10pt;
        background-color: #F8A546;
        color: white;
        border: none;
        width: 70%;
        padding-bottom: 150px;

        @media screen and (max-width: #{$desktop-width}){
            background-color: #fff;
            width: initial;
            padding-bottom: 0;
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    &__span{
        text-transform: uppercase;
        background-color: inherit;
        border: 0;
        cursor: pointer;
        user-select: none;
        margin-right: 10px;
        padding-right: 7px;
    }

    &__dropdown{
        display: inline-block;
        margin: 10px 0;
        position: relative;
    }

    &__dropdown-content{
        font-size: 11pt;
        text-align: right;
        display: none;
        background: #f4804d;
        position: relative;
        min-width: 189px;
        width: 50px;
        box-shadow: none;
        z-index: 2;
        margin-top: 12px;
        margin-bottom: -10px;
        transition: 0.3s; 

        @media screen and (max-width: #{$desktop-width}){
            min-width: 150px;
            background-color: inherit;
            margin-left: -15px;
            text-align: center;
        }
    }

    &__link{
        color: #fff;
        padding: 7px 17px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
    }

    &__link:hover{
        color: #fff;
    }

    &-menu-clicked{
        padding-left: 0 !important;
        border: 0 !important;
        box-shadow: none !important;
        outline-color: #f69449;
    }


    &__list{
        text-align: right;
        list-style-type: none;
        margin-left: -40px;
        padding-bottom: 5px;
        cursor: pointer;

        @media screen and (max-width: #{$desktop-width}){
            text-align: center;
            margin-top: 20px;
        }

        // Left sidebar links color palette
        &--first{
            background-color: #f69449;
        }

        &--second{
            background-color: #f89949;
        }

        &--third{
            background-color: #f8a049;
        }

        &--fourth{
            background-color: #f9a44a;
        }

        &--fifth{
            background-color: #f9a84c;
        }
    }

}

.message--paragraph{
    top: -13px;
    margin-left: -2px;
    font-weight: 900;
    position: relative;
    padding-bottom: 5px;

    @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}){
        top: initial;
    }
}