// Main content block

// Carousel
.main-carousel{
    margin-top: 100px;

    &__image{
        width: 550px !important;
        height: 240px !important;
    }

    &__indicators{
        position: absolute !important;
        width: 85px !important;
        height: 20px !important;
        background-color: #899940 !important;
        left: 597px !important;
        bottom: 7px !important;

        @media screen and (max-width: #{$desktop-width}){
            left: 0 !important;
            right: 0 !important;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__indicators .active{
        background-color: #fff !important;
    }

    &__list{
        width: 7px !important;
        height: 7px !important;;
        background-color: #a4b16c !important;;
        border: 0 !important;
        margin-bottom: 7px !important;;
        margin-left: 2px !important;;
        margin-right: 2px !important;;
    }

    &__inner{
        @media screen and (max-width: #{$desktop-width}){
            display: flex;
            justify-content: center;
        }
    }
}


/* Main text */
.main-content__text{
    margin-top: 40px;
    width: 85%;

    @media screen and (max-width: #{$desktop-width}){
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }

    &--first-paragraph{
        font-size: 13pt;
        color: #444444;
        font-weight: 500;
        letter-spacing: 0.3pt;
        margin-bottom: 20px;
    }

    &--second-paragraph{
        font-size: 10pt;
        color: #777777;
        padding-bottom: 50px;
        border-bottom: 1px solid #e5e5e5;
    }
}