// Main menu block
@import 'base';
.main-menu{
    background-color: #22b7be;
    color: #fff;
    margin-left: -15px;
    margin-top: 20px;
    padding-left: 50px;
    width: inherit;

    @media screen and (max-width: #{$desktop-width}){
        padding-left: 0 !important;
    }

    &__row{
        text-align: center;
    }

    &__brand{
        display: none;

        @media screen and (max-width: #{$desktop-width}){
            text-transform: uppercase;
            color: #fff;
            display: inline;
            width: 100%;
            text-align: center;
            margin-left: 0;
        }
    }

    &__toggler{
        display: none;

        @media screen and (max-width: #{$desktop-width}){
            display: block;
            float: right;
            margin: 10px 0;
            background: inherit;
            border: none;
            outline: none;
            margin-top: -40px;
        }
    }

    &__icon{
        font-size: 20pt !important;
    }
    
    &__colapse{
        padding-right: 0;
        padding-left: 1px;
    }

    &__list{
        font-size: 9pt;
        color: #177b7d;
        float: left;
        margin-left: 13px;
        padding: 0 10px;

        @media screen and (max-width: #{$desktop-width}){
            float: none;
            list-style-type: none;
        }

        &--first{
            list-style-type: none;
        }
    }

    &__btn{
        text-transform: uppercase;
        font-size: 11pt;
        background-color: inherit;
        color: white;
        border: none;
        height: 50px;
        margin-left: -13px;
        padding-left: 20px;
        position: relative;
        outline: none;

        @media screen and (max-width: #{$desktop-width}){
            padding-left: 0;
        }
    }

    /* Drop down menu */

    &__dropdown{
        position: relative;
        display: inline-block;
        margin-left: -10px;
    }

    &__dropdown-content{
        font-size: 11pt;
        text-align: left;
        display: none;
        position: absolute;
        min-width: 220px;
        z-index: 2;
        margin-top: -10px;
        margin-left: -13px;
        padding-top: 9px;
        transition: 0.3s; 
        border: 0;

        @media screen and (max-width: #{$desktop-width}){
            position: relative;
            text-align: center;
        }
    }

    &__link{
        color: #fff;
        padding: 5px 7px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
    }

    &__link:hover{
        background-color: #184042;
        color: #fff;
    }

    &__dropdown:hover &__dropdown-content{
        display: block;

        @media screen and (max-width: #{$desktop-width}){
            display: none;
        }
    }

    &__list:hover{
        background-color: #187b80;

        @media screen and (max-width: #{$desktop-width}){
            background-color: initial;
        }
    }    

    &__list:hover &__btn{
        background-color: #187b80;
      
        @media screen and (max-width: #{$desktop-width}){
            background-color: initial;
        }
    }

    /* Dropdown links color palette */

    &__link--first{
        background-color: #188185;
    }

    &__link--second{
        background-color: #18878e;
    }

    &__link--third{
        background-color: #1a8d92;
    }

    &__link--fourth{
        background-color: #1c9399;
    }

    &__link--fifth{
        background-color: #1d9aa0;
    }

    &__link--sixth{
        background-color: #1e9fa5;
    }

    &__link--seventh{
        background-color: #1fa6ac;
    }

}

