// Main block
@import 'base';

.main-logo{

    &__list{
        list-style: none;
        text-align: center;
    }

    &__image{
        width: 300px;
        margin: 0 auto;

        @media screen and (max-width: 380px){
            width: 200px;
        }

        @media screen and (min-width: 381px) and (max-width: #{$tablet-width}){
            width: 250px;
        }
    }

    &__title{
        color: $style-color-1;
        text-align: center;
        font-weight: 600;
    }

    &__row{
        @media screen and (max-width: #{$tablet-width}){
            padding-left: 0;
        }
    }
}