// Places block
.places{
    margin-top: 20px;

    &__list{
        color: #157b7d;
        font-size: 10pt;
        font-weight: 600;
        text-transform: uppercase;
        list-style-type: none;
        display: inline;
        margin: 30px 20px;

        @media screen and (max-width: #{$tablet-width}){
            display: block;
            margin-left: 30%;
        }
    }

    &__images{
        width: 40px;
        margin-right: 10px;
    }
}