// Right sidebar block
.right-sidebar{
    background-color: #EAFEFF;
    float: right;

    @media screen and (max-width: #{$desktop-width-less}){
        float: initial;
    }

    // Reservation section
    &__reservation{
        font-size: 12pt;
        background-color: #7d6192;
        color: #fff;
        margin-left: -15px;
        margin-top: 40px;
        padding: 6px;
        width: 130%;
        position: relative;
        transition: 0.5s;

        @media screen and (max-width: 1262px){
            margin-left: initial;
            width: 100%;
        }
    }

    &__reservation:hover{
        background-color: #fff;
        color: #7e6092;
        cursor: pointer;
        transition: 0.5s;
    }

    &__paragraph{
        margin-top: 6px;
        margin-left: 6px;
    }

    &__span{
        font-weight: 700;
    }

    // Right sidebar divs section
    &__divs{
        background-color: #13bdce;
        width: 100%;
        height: 100px;
        margin: 15px 0;
    }

}