@font-face {
  font-family: Muli;
  src: url(Muli.ttf); }

* {
  font-family: Muli; }

body {
  background-image: url("../images/bg-pattern.png");
  background-repeat: repeat;
  font-size: 14pt; }

.container.mainpage {
  background-color: #fff;
  padding-top: 20px; }

a:hover {
  text-decoration: none; }

@media (max-width: 1200px) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; } }

.social__row {
  margin-left: -38px;
  margin-top: -2px; }
  @media screen and (max-width: 380px) {
    .social__row {
      display: flex;
      justify-content: center; } }

.social__list {
  padding: 0 11px;
  list-style: none;
  float: left; }

.social__icon {
  color: #d45e76;
  font-size: 12pt;
  transition: 0.5s; }

.social__icon:hover {
  transition: 0.5s;
  color: #7b152d; }

.language-bar {
  margin-top: 2px; }
  .language-bar__row {
    float: right; }
    @media screen and (max-width: 380px) {
      .language-bar__row {
        clear: both;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-left: 20px; } }
  .language-bar__list {
    color: #d45e76;
    float: left;
    font-size: 9pt;
    padding: 0 5px;
    margin: 0 10px; }
  .language-bar__link {
    color: #d45e76;
    font-size: 10.5pt;
    font-weight: 500;
    text-transform: uppercase; }
  .language-bar__list--first {
    list-style-type: none;
    padding-right: 8px; }
  .language-bar__list--selected {
    font-weight: 600; }

.main-logo__list {
  list-style: none;
  text-align: center; }

.main-logo__image {
  width: 300px;
  margin: 0 auto; }
  @media screen and (max-width: 380px) {
    .main-logo__image {
      width: 200px; } }
  @media screen and (min-width: 381px) and (max-width: 768px) {
    .main-logo__image {
      width: 250px; } }

.main-logo__title {
  color: #d45e76;
  text-align: center;
  font-weight: 600; }

@media screen and (max-width: 768px) {
  .main-logo__row {
    padding-left: 0; } }

.main-menu {
  background-color: #22b7be;
  color: #fff;
  margin-left: -15px;
  margin-top: 20px;
  padding-left: 50px;
  width: inherit;
  /* Drop down menu */
  /* Dropdown links color palette */ }
  @media screen and (max-width: 1200px) {
    .main-menu {
      padding-left: 0 !important; } }
  .main-menu__row {
    text-align: center; }
  .main-menu__brand {
    display: none; }
    @media screen and (max-width: 1200px) {
      .main-menu__brand {
        text-transform: uppercase;
        color: #fff;
        display: inline;
        width: 100%;
        text-align: center;
        margin-left: 0; } }
  .main-menu__toggler {
    display: none; }
    @media screen and (max-width: 1200px) {
      .main-menu__toggler {
        display: block;
        float: right;
        margin: 10px 0;
        background: inherit;
        border: none;
        outline: none;
        margin-top: -40px; } }
  .main-menu__icon {
    font-size: 20pt !important; }
  .main-menu__colapse {
    padding-right: 0;
    padding-left: 1px; }
  .main-menu__list {
    font-size: 9pt;
    color: #177b7d;
    float: left;
    margin-left: 13px;
    padding: 0 10px; }
    @media screen and (max-width: 1200px) {
      .main-menu__list {
        float: none;
        list-style-type: none; } }
    .main-menu__list--first {
      list-style-type: none; }
  .main-menu__btn {
    text-transform: uppercase;
    font-size: 11pt;
    background-color: inherit;
    color: white;
    border: none;
    height: 50px;
    margin-left: -13px;
    padding-left: 20px;
    position: relative;
    outline: none; }
    @media screen and (max-width: 1200px) {
      .main-menu__btn {
        padding-left: 0; } }
  .main-menu__dropdown {
    position: relative;
    display: inline-block;
    margin-left: -10px; }
  .main-menu__dropdown-content {
    font-size: 11pt;
    text-align: left;
    display: none;
    position: absolute;
    min-width: 220px;
    z-index: 2;
    margin-top: -10px;
    margin-left: -13px;
    padding-top: 9px;
    transition: 0.3s;
    border: 0; }
    @media screen and (max-width: 1200px) {
      .main-menu__dropdown-content {
        position: relative;
        text-align: center; } }
  .main-menu__link {
    color: #fff;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
    transition: 0.3s; }
  .main-menu__link:hover {
    background-color: #184042;
    color: #fff; }
  .main-menu__dropdown:hover .main-menu__dropdown-content {
    display: block; }
    @media screen and (max-width: 1200px) {
      .main-menu__dropdown:hover .main-menu__dropdown-content {
        display: none; } }
  .main-menu__list:hover {
    background-color: #187b80; }
    @media screen and (max-width: 1200px) {
      .main-menu__list:hover {
        background-color: initial; } }
  .main-menu__list:hover .main-menu__btn {
    background-color: #187b80; }
    @media screen and (max-width: 1200px) {
      .main-menu__list:hover .main-menu__btn {
        background-color: initial; } }
  .main-menu__link--first {
    background-color: #188185; }
  .main-menu__link--second {
    background-color: #18878e; }
  .main-menu__link--third {
    background-color: #1a8d92; }
  .main-menu__link--fourth {
    background-color: #1c9399; }
  .main-menu__link--fifth {
    background-color: #1d9aa0; }
  .main-menu__link--sixth {
    background-color: #1e9fa5; }
  .main-menu__link--seventh {
    background-color: #1fa6ac; }

.left-sidebar__message {
  font-size: 24pt;
  color: #813a48;
  background-color: #d45e76;
  text-transform: uppercase;
  margin-top: 80px;
  position: relative;
  left: 130px;
  z-index: 1; }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .left-sidebar__message {
      left: initial;
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .left-sidebar__message {
      display: none; } }

.left-sidebar__menu {
  margin-top: 70px;
  margin-left: -15px; }
  @media screen and (max-width: 1200px) {
    .left-sidebar__menu {
      margin-left: 0; } }

.left-sidebar__row {
  font-size: 10pt;
  background-color: #F8A546;
  color: white;
  border: none;
  width: 70%;
  padding-bottom: 150px; }
  @media screen and (max-width: 1200px) {
    .left-sidebar__row {
      background-color: #fff;
      width: initial;
      padding-bottom: 0;
      margin-left: 50px;
      margin-right: 50px; } }

.left-sidebar__span {
  text-transform: uppercase;
  background-color: inherit;
  border: 0;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
  padding-right: 7px; }

.left-sidebar__dropdown {
  display: inline-block;
  margin: 10px 0;
  position: relative; }

.left-sidebar__dropdown-content {
  font-size: 11pt;
  text-align: right;
  display: none;
  background: #f4804d;
  position: relative;
  min-width: 189px;
  width: 50px;
  box-shadow: none;
  z-index: 2;
  margin-top: 12px;
  margin-bottom: -10px;
  transition: 0.3s; }
  @media screen and (max-width: 1200px) {
    .left-sidebar__dropdown-content {
      min-width: 150px;
      background-color: inherit;
      margin-left: -15px;
      text-align: center; } }

.left-sidebar__link {
  color: #fff;
  padding: 7px 17px;
  text-decoration: none;
  display: block;
  transition: 0.3s; }

.left-sidebar__link:hover {
  color: #fff; }

.left-sidebar-menu-clicked {
  padding-left: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  outline-color: #f69449; }

.left-sidebar__list {
  text-align: right;
  list-style-type: none;
  margin-left: -40px;
  padding-bottom: 5px;
  cursor: pointer; }
  @media screen and (max-width: 1200px) {
    .left-sidebar__list {
      text-align: center;
      margin-top: 20px; } }
  .left-sidebar__list--first {
    background-color: #f69449; }
  .left-sidebar__list--second {
    background-color: #f89949; }
  .left-sidebar__list--third {
    background-color: #f8a049; }
  .left-sidebar__list--fourth {
    background-color: #f9a44a; }
  .left-sidebar__list--fifth {
    background-color: #f9a84c; }

.message--paragraph {
  top: -13px;
  margin-left: -2px;
  font-weight: 900;
  position: relative;
  padding-bottom: 5px; }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .message--paragraph {
      top: initial; } }

.main-carousel {
  margin-top: 100px; }
  .main-carousel__image {
    width: 550px !important;
    height: 240px !important; }
  .main-carousel__indicators {
    position: absolute !important;
    width: 85px !important;
    height: 20px !important;
    background-color: #899940 !important;
    left: 597px !important;
    bottom: 7px !important; }
    @media screen and (max-width: 1200px) {
      .main-carousel__indicators {
        left: 0 !important;
        right: 0 !important;
        margin-left: auto;
        margin-right: auto; } }
  .main-carousel__indicators .active {
    background-color: #fff !important; }
  .main-carousel__list {
    width: 7px !important;
    height: 7px !important;
    background-color: #a4b16c !important;
    border: 0 !important;
    margin-bottom: 7px !important;
    margin-left: 2px !important;
    margin-right: 2px !important; }
  @media screen and (max-width: 1200px) {
    .main-carousel__inner {
      display: flex;
      justify-content: center; } }

/* Main text */
.main-content__text {
  margin-top: 40px;
  width: 85%; }
  @media screen and (max-width: 1200px) {
    .main-content__text {
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
      text-align: justify; } }
  .main-content__text--first-paragraph {
    font-size: 13pt;
    color: #444444;
    font-weight: 500;
    letter-spacing: 0.3pt;
    margin-bottom: 20px; }
  .main-content__text--second-paragraph {
    font-size: 10pt;
    color: #777777;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5; }

.right-sidebar {
  background-color: #EAFEFF;
  float: right; }
  @media screen and (max-width: 1199px) {
    .right-sidebar {
      float: initial; } }
  .right-sidebar__reservation {
    font-size: 12pt;
    background-color: #7d6192;
    color: #fff;
    margin-left: -15px;
    margin-top: 40px;
    padding: 6px;
    width: 130%;
    position: relative;
    transition: 0.5s; }
    @media screen and (max-width: 1262px) {
      .right-sidebar__reservation {
        margin-left: initial;
        width: 100%; } }
  .right-sidebar__reservation:hover {
    background-color: #fff;
    color: #7e6092;
    cursor: pointer;
    transition: 0.5s; }
  .right-sidebar__paragraph {
    margin-top: 6px;
    margin-left: 6px; }
  .right-sidebar__span {
    font-weight: 700; }
  .right-sidebar__divs {
    background-color: #13bdce;
    width: 100%;
    height: 100px;
    margin: 15px 0; }

.places {
  margin-top: 20px; }
  .places__list {
    color: #157b7d;
    font-size: 10pt;
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none;
    display: inline;
    margin: 30px 20px; }
    @media screen and (max-width: 768px) {
      .places__list {
        display: block;
        margin-left: 30%; } }
  .places__images {
    width: 40px;
    margin-right: 10px; }

.colorful {
  padding: 0;
  width: inherit;
  margin-top: 10px; }
  .colorful__row {
    width: 100%;
    padding: 0; }
  .colorful__list {
    height: 6px;
    width: 16.66%;
    list-style-type: none;
    float: left; }
    .colorful__list--first {
      background-color: #d25e73; }
    .colorful__list--second {
      background-color: #41bca7; }
    .colorful__list--third {
      background-color: #f9ae49; }
    .colorful__list--fourth {
      background-color: #7d6393; }
    .colorful__list--fifth {
      background-color: #21becf; }
    .colorful__list--sixt {
      background-color: #cb2e5b; }

.footer {
  font-size: 10pt;
  color: #989898;
  margin-bottom: 30px;
  margin-top: 15px; }
  .footer__left {
    float: left;
    margin-left: 20px;
    letter-spacing: 0.2pt; }
    @media screen and (max-width: 545px) {
      .footer__left {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 0; } }
  .footer__year {
    color: #999999;
    margin-top: 2px;
    letter-spacing: 0.3pt;
    margin-top: -8px; }
  .footer__right {
    float: right; }
    @media screen and (max-width: 545px) {
      .footer__right {
        width: 100%;
        text-align: center; } }
  .footer__creators {
    margin-right: -5px; }
